/**Header CSS**/
.landing-page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  background-color: #090e14;
  z-index: 1000; /* Ensure the header appears above other content */
  text-decoration: none;
  height: 8%;
}

.landing-page-header a {
  font-weight: 700;
  text-decoration: none !important;
  /* color: #000000; */
  /* color: #344bb5; */
}

.header-nav {
  display: none;
  /* color: white; */
}

@media (min-width: 768px) {
  .header-nav {
    display: block;
  }
}
.header-ul {
  display: flex;
  /* color: rgb(85 81 227); */
  color: black;
}
.header-nav-two {
  display: block;
}
@media (min-width: 768px) {
  .header-nav-two {
    display: none;
  }
}
.header-ul-two {
  display: flex;
  flex-direction: column;
  /* color: rgb(85 81 227); */
  position: fixed;
  left: 0;
  top: 2.5rem;
  width: 100%;
  height: 20%;
  background-color: #1f2937;
}
.header-button {
  display: block;
}

@media (min-width: 768px) {
  .header-button {
    display: none;
  }
}
.header-icon {
  height: 1.25rem;
  /* color: rgb(85 81 227); */
}

.login-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.25rem;
  /* border-color: rgb(85 81 227); */
  font-weight: lighter;
  font-size: large;
  color: #ffb600 !important;
  margin: auto;
}
.btn:hover {
  border-width: 1;
}
.header-logo {
  font-size: 25px;
  color: #a8c7fa !important;
  text-decoration: none;
}
