.hero-section {
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 10rem;
  padding-bottom: 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }
}
.hero-div {
  display: flex;
  flex-direction: column;
  font-style: "Open Sans", Roboto, sans-serif;
}
@media (min-width: 768px) {
  .hero-div {
    width: 50%;
  }
}
.hero-div-h1 {
  /* font-size: 2.6rem; */
  /* font-size: 16px; */
  /* line-height: 1.4; */
  color: rgb(0, 0, 0);
  font-family: "Google Sans", Roboto, sans-serif;
  color: #1f1f1f;
  font-size: 50px;
  font-weight: 600;
  line-height: 64px;
  /* margin: 125px 0 20px; */
}
.hero-div-p {
  font-size: 16px;
  line-height: 24px;
  color: #444746;
  font-weight: 400;
  letter-spacing: 0;
  padding-top: 25px;
  font-weight: lighter;
  font-family: "Google Sans", Roboto, sans-serif;
}
.hero-div-two {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}
.hero-div-a {
  padding-right: 1.25rem;
  color: black;
}
.hero-div-a:hover {
  color: white;
}
@media (min-width: 768px) {
  .hero-img {
    width: 33.333333%;
  }
}

.hero-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #a8c7fa;
  background-size: 400%;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
}

.hero-button:hover::before {
  transform: scaleX(1);
}

.hero-button-content {
  position: relative;
  z-index: 1;
  /* color: white; */
}
.hero-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  /* background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  ); */
  background: #0b57d0;
  transition: all 0.475s;
}
.left-logo {
  /* display: inline-flex;
  flex-grow: 1;
  padding: 0 40px; */
  /* justify-content: right; */
  position: relative;
  top: 80px;
  left: -50px;
}

@media (max-width: 868px) {
  .left-logo {
    /* align-self: center; */
    top: -30px;
    left: 0px;
  }
  .right-logo {
    display: none;
  }
}

.right-logo {
  position: relative;
  top: -110px;
  left: 50px;
}
