/* styles.module.css */

.container {
  position: relative;
  background-color: #2563eb; /* bg-primary-800 */
  width: 100%;
}

.contentWithPaddingXl {
  max-width: 90rem; /* max-w-screen-xl */
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem; /* py-20 */
  padding-bottom: 6rem; /* lg:py-24 */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContent {
}

.subheading {
  font-weight: bold;
}

.sectionHeading {
  font-size: 2.25rem; /* text-4xl */
  line-height: 1.2;
  font-weight: 900; /* font-black */
  letter-spacing: -0.025em; /* tracking-wide */
  text-align: center;
}

.sectionDescription {
  margin-top: 1rem; /* mt-4 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5; /* leading-relaxed */
  font-weight: 500; /* font-medium */
  max-width: 64rem; /* max-w-xl */
}

.faqsContainer {
  margin-top: 3rem; /* mt-12 */
  max-width: 64rem; /* max-w-4xl */
  position: relative;
}

.faq {
  cursor: pointer;
  user-select: none;
  margin-top: 1.25rem; /* mt-5 */
  padding: 1.25rem 2rem; /* px-8 sm:px-10 py-5 sm:py-4 */
  border-radius: 0.5rem; /* rounded-lg */
  color: #4b5563; /* text-gray-800 */
  background-color: #cbd5e0; /* bg-gray-200 */
  transition: color 0.3s, background-color 0.3s;
}

.faq:hover {
  color: #1a202c; /* hover:text-gray-900 */
  background-color: #e2e8f0; /* hover:bg-gray-300 */
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionText {
  font-size: 1.5rem; /* text-lg lg:text-xl */
  font-weight: 700; /* font-semibold */
  color: #2563eb; /* text-primary-900 */
}

.questionToggleIcon {
  margin-left: 0.5rem; /* ml-2 */
  transition: transform 0.3s;
}

.answer {
  pointer-events: none;
  font-size: 1rem; /* text-sm sm:text-base */
  line-height: 1.625; /* leading-relaxed */
  font-weight: 400; /* normal */
  max-width: 64rem; /* max-w-xl */
  opacity: 0;
}
